<p>view-customer works!</p>
<h1 [innerText]='obj.Cname'></h1>
<table>
    <tr>
    <td>Customername:</td>

    <td><input type="text" [value]='obj.Cname'></td>
    </tr>
    <tr>
        <td>City:</td>

        <td><input type="text" [value]='obj.City'></td>
        </tr>
        <tr>
            <td>Address:</td>
    
            <td><input type="text" [value]='obj.Address'></td>
            </tr>
            <tr>
                <td>Contact:</td>
        
                <td><input type="number" [value]='obj.Contact'></td>
                </tr>
                <tr>
                    <td>Email:</td>
            
                    <td><input type="text" [value]='obj.Email'></td>
                    </tr>

</table>
<a [href]="url">W3School</a>
